In [1]:
import pandas as pd
import numpy as np

In [ ]:
#All Questions were answer aaccordingly

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin-1')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
df2 = df.groupby('Area')['Y2017'].agg(['sum','count'])
print(df2)

                                    sum  count
Area
Algeria                       325644.27   1279
Angola                        229159.57   1407
Benin                         124771.22   1253
Botswana                       22101.30   1368
Burkina Faso                  101855.07   1383
Cabo Verde                     14650.74   1193
Cameroon                      232030.43   1441
Central African Republic       29937.00   1262
Chad                           71594.68   1281
Comoros                           59.84     45
Congo                          41181.68   1395
CÃ´te d'Ivoire                 224599.01   1454
Djibouti                       22729.91   1061
Egypt                         866379.92   1458
Eswatini                       54343.33   1251
Ethiopia                      448683.76   1428
Ethiopia PDR                       0.00     39
Gabon                          27979.64   1206
Gambia                         23154.18   1116
Ghana                         337599.06   1333
Guinea                         98138.87   1383
Guinea-Bissau                  19102.77   1076
Kenya                         264660.66   1548
Lesotho                        21267.96   1110
Liberia                        29342.20   1135
Madagascar                    131197.73   1425
Malawi                        181098.71   1411
Mali                          149928.33   1243
Mauritania                    156665.46   1108
Mauritius                      51114.83   1340
Morocco                       388495.36   1369
Mozambique                    161407.98   1406
Namibia                        29874.89   1269
Niger                         126707.58   1365
Nigeria                      1483268.23   1457
Rwanda                         73663.69   1397
Sao Tome and Principe          12662.63   1122
Senegal                        95681.15   1452
Seychelles                       442.34     68
Sierra Leone                   55311.33   1191
South Africa                  517590.54   1395
Sudan                         239931.92   1279
Sudan (former)                     0.00     53
Togo                           49841.88   1234
Tunisia                       124167.20   1314
Uganda                        213950.38   1435
United Republic of Tanzania   322616.85   1409
Zambia                        103223.77   1425
Zimbabwe                       75919.34   1365

In [4]:
#Consider the following list of tuples:

y = [(2, 4), (7, 8), (1, 5, 9)]

#How would you assign element 8 from the list to a variable x?

In [5]:
print(y)

[(2, 4), (7, 8), (1, 5, 9)]

In [6]:
x = y[1][-1]
print(x)

8

In [7]:
b = y[1][1]
print(b)

8

In [8]:
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [9]:
df2=pd.DataFrame(lst, columns=['Age', 'Nationalty', 'Overall'], index=[1,2,3])
print(df2)

   Age Nationalty  Overall
1   35   Portugal       94
2   33  Argentina       93
3   30     Brazil       92

In [10]:
df3=pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])

In [11]:
print(df3)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [12]:
df4=pd.DataFrame(lst, columns=col, index=[1,2,3])

In [13]:
print(df4)

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [14]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [15]:
df.std()

C:\Users\DAMILARE\AppData\Local\Temp\ipykernel_2184\3390915376.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [16]:
df.mean()

C:\Users\DAMILARE\AppData\Local\Temp\ipykernel_2184\3698961737.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [17]:
df.corr(method ='pearson')

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [18]:
print(df['Area'].value_counts())

Kenya                          1560
Egypt                          1488
Nigeria                        1474
CÃ´te d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Malawi                         1447
Ethiopia                       1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Zimbabwe                       1393
Morocco                        1393
Mauritius                      1378
Botswana                       1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Area, dtype: int64

In [19]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [20]:
df5=df.groupby(['Element']).sum()
print(df5)

                                        Area Code  Item Code  Element Code  \
Element
Domestic supply quantity                   708993   14197445      28068795
Export Quantity                            599910   11840553      26026133
Fat supply quantity (g/capita/day)         675050   13535000       3435732
Feed                                       176272    3538507       7282199
Food                                       663295   13285035      25406622
Food supply (kcal/capita/day)              674057   13511060       3329296
Food supply quantity (kg/capita/yr)        658446   13185401       3163725
Import Quantity                            688174   13795966      28834929
Losses                                     274353    5424803      10292107
Other uses (non-food)                      235554    4729749       8926728
Processing                                 271940    5350416      10313310
Production                                 526751   10450053      21388191
Protein supply quantity (g/capita/day)     675050   13535000       3385502
Residuals                                  623271   12421089      24066350
Seed                                       103537    2035933       4211574
Stock Variation                            571566   11329527      21464704
Total Population - Both sexes                6020     112545         22995
Tourist consumption                         50308    1486528       2869905

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00

In [21]:
percent_missing = df.isnull().sum() * 100 / len(df)

In [22]:
print(percent_missing)

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [23]:
df6 = df.groupby('Item')['Y2017'].agg(['sum','count'])
print(df6)

                           sum  count
Item
Alcohol, Non-Food      2348.00    273
Alcoholic Beverages   95581.06    560
Animal Products       11547.65    135
Animal fats          269617.53    636
Apples and products   10198.90    511
...                        ...    ...
Vegetables, Other    157752.59    574
Vegetal Products     107655.20    135
Wheat and products   240047.62    646
Wine                   4178.02    491
Yams                 229174.59    349

[119 rows x 2 columns]

In [24]:
df7 = df.groupby('Item')['Y2017'].agg(['sum','count'])
print(df7.to_string())

                                        sum  count
Item
Alcohol, Non-Food                   2348.00    273
Alcoholic Beverages                95581.06    560
Animal Products                    11547.65    135
Animal fats                       269617.53    636
Apples and products                10198.90    511
Aquatic Animals, Others                5.92    349
Aquatic Plants                       452.02    381
Aquatic Products, Other              456.65    392
Bananas                            53008.82    490
Barley and products                26176.98    558
Beans                              21351.42    572
Beer                               41962.92    487
Beverages, Alcoholic                3115.24    484
Beverages, Fermented               43958.75    476
Bovine Meat                        22612.86    513
Butter, Ghee                        1116.68    442
Cassava and products              401440.17    527
Cephalopods                          532.14    446
Cereals - Excluding Beer          905221.25    711
Cereals, Other                     20615.95    580
Citrus, Other                      15650.97    506
Cloves                                82.32    391
Cocoa Beans and products            8638.32    524
Coconut Oil                          516.99    494
Coconuts - Incl Copra               6478.91    528
Coffee and products                 3861.45    537
Cottonseed                          8623.00    303
Cottonseed Oil                      1403.25    468
Cream                                228.95    394
Crustaceans                          834.82    484
Dates                              11088.61    469
Demersal Fish                       6618.70    468
Eggs                               21749.74   1124
Fats, Animals, Raw                  1783.67    589
Fish, Body Oil                       219.65    415
Fish, Liver Oil                       48.02    352
Fish, Seafood                      44849.35    535
Freshwater Fish                    14258.00    483
Fruits - Excluding Wine           284309.07    584
Fruits, Other                      59463.60    568
Grand Total                       119264.82    135
Grapefruit and products             2137.02    505
Grapes and products (excl wine)    14591.98    510
Groundnut Oil                       5389.20    512
Groundnuts (Shelled Eq)            44684.53    612
Honey                                660.07    503
Infant food                          311.92    433
Lemons, Limes and products          4191.49    505
Maize Germ Oil                      1075.37    465
Maize and products                323471.75    682
Marine Fish, Other                  3136.63    479
Meat                               67833.55    533
Meat, Other                         5324.82    501
Milk - Excluding Butter           276703.90   1252
Millet and products                41836.61    531
Miscellaneous                       6921.83    907
Molluscs, Other                      157.34    444
Mutton & Goat Meat                  9769.78    477
Nuts and products                   6875.08    518
Oats                                 902.97    508
Offals                              8252.88    510
Offals, Edible                      8252.88    510
Oilcrops                          166985.23    703
Oilcrops Oil, Other                 5925.84    544
Oilcrops, Other                     6269.10    559
Olive Oil                           1484.14    497
Olives (including preserved)        9930.20    463
Onions                             39656.98    475
Oranges, Mandarines                34602.81    538
Palm Oil                           32462.95    524
Palm kernels                       56218.00    233
Palmkernel Oil                      1517.36    483
Peas                                2425.43    505
Pelagic Fish                       19801.15    533
Pepper                               142.76    471
Pigmeat                             6099.27    504
Pimento                             2812.22    478
Pineapples and products            15694.20    515
Plantains                          63619.19    359
Population                       1112641.00     90
Potatoes and products              74990.58    625
Poultry Meat                       23985.90    506
Pulses                             65535.31    642
Pulses, Other and products         41741.43    618
Rape and Mustard Oil                 329.98    456
Rape and Mustardseed                 628.00    509
Rice and products                 166354.09    659
Ricebran Oil                           0.00    207
Roots, Other                       43389.37    527
Rye and products                     306.41    422
Sesame seed                         7955.60    519
Sesameseed Oil                       663.10    456
Sorghum and products               85468.93    576
Soyabean Oil                       10683.31    515
Soyabeans                          18574.99    556
Spices                              6801.63    517
Spices, Other                       3744.19    481
Starchy Roots                     825497.34    667
Stimulants                         15119.56    562
Sugar & Sweeteners                 86952.63    604
Sugar (Raw Equivalent)             77413.80    528
Sugar Crops                       315572.36    472
Sugar beet                         45332.00    188
Sugar cane                        270238.36    427
Sugar non-centrifugal                204.68    113
Sunflower seed                      7545.63    363
Sunflowerseed Oil                   6432.42    511
Sweet potatoes                     76488.54    516
Sweeteners, Other                   8667.08    564
Tea (including mate)                2599.72    477
Tomatoes and products              61712.96    546
Treenuts                            6875.08    518
Vegetable Oils                     67913.02    572
Vegetables                        259140.62    578
Vegetables, Other                 157752.59    574
Vegetal Products                  107655.20    135
Wheat and products                240047.62    646
Wine                                4178.02    491
Yams                              229174.59    349

In [25]:
d=np.array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [26]:
print(d)

[[94, 89, 63], [93, 92, 48], [92, 94, 56]]

In [27]:
S = [['him', 'sell'], [90, 28, 43]]

In [28]:
S[0][1][1]

'e'